body {
padding:0;
margin:1% 8% 1% 8%;
height:100%;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 10pt;
background-image : url(../images/webFond.jpg) ;
/*background-color :  #EBD9A7;*/
}

#haut{
    position:relative;
    height: 60px;
    background: #1C4E63; /*#c3c1ff;*/
    background-repeat:no-repeat;
    border: 1px solid black;
    text-align:center;
    color: white;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    box-shadow: #343434 10px 10px 10px ;
}

/* Style du haut */
#haut .titre {
    font-size:2em;
    color: white;
    font-weight:bolder;
    padding: 0% 2%;
}

#titreAccueil{
    position:relative;
    height:auto;
    background: #c3c1ff;
    background-repeat:no-repeat;
    text-align:center;
    color: black;
    font-size: 2em;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

#haut .navigation{
    position:absolute;
    padding-bottom:5px;
    padding-top:5px;
    left:0;
    font-size:10pt;
    width:100%;
}
.nav {
    padding:0 2%;
}
 .navigation a{
    background: inherit;
    color:white;
}
 .navigation a:hover{
    background: inherit;
    color:#5A5AFF;
}

#contenu{
    float:right;
    width: 100%;
    margin-bottom:10px;
    margin-top:10px;
    color: white;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:1em;
}

#contenuAccueil{
    float:right;
    width: 50%;
    padding:0% 0% 0% 0% ;
    color:black;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:1em;
    background:#EEE;

}

#menu {
    color:inherit;
    margin:0% 50% 0% 0%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:1em;
    padding:1%;
    height:100%;
    background:#EEE;
    /*border-right: 1px dotted #CCC;*/
}



/* Style du contenu */
#contenu h2 {
    border:1px solid #CCC;
    padding:3px;
    background:#EEEEEE;
    color:#006633;
    font-size:1.4em;
    box-shadow: #343434 10px 10px 10px ;
}
#contenu a {
    text-decoration: none;
}

pre {
    background:#EEE;
    border:2px solid #AAA;
    padding:3px;
    margin:5px 0px 0px 0px;
    font-size:1em;
}

.tegpresentation {
    background:#3F3F3F; /*#DDD;*/
    color:white;
    padding:10px;
    margin-bottom:20px;
    margin-top:10px;
    border:1px solid #AAA;
    box-shadow: #343434 10px 10px 10px ;
}

.tegcomment {
    background:#3F3F3F; /*#EEE;*/
    color:white;
    border:2px solid #AAA;
    padding:3px;
    margin:5px 0px 0px 0px;
    font-size:1em;
    margin-top:10px;
    box-shadow: #343434 10px 10px 10px ;
}

.categories {
    background:#DDD;
    padding:2px 2px 2px 30px;
    margin-bottom:5px;
    font-size:1.4em;
}


#pied {
    clear:both;
    background: #11303D; /*#c3c1ff; #6699FF;*/
    color:white;
        border: 1px solid black;
    /*width:100%;*/
    height:auto;
    padding:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-align:center;
    margin-bottom:20px;
    margin-top:10px;
    box-shadow: #343434 10px 10px 10px ;
}

/*
div {
width : 75%;
font-size : 10pt;
font-style : normal;
text-align : justify;
}
*/

table .bas {
background-color : #d6d6d6;
}
table .haut {
background-color : #c3c1ff;
}
table .center {
text-align : center;
}
table .left {
text-align : left;
}
table .right {
text-align : right;
}
table .justify {
text-align : justify;
}
table .noborder {
border-width : 0;
}
